.ant-targets-build.xml
*.dat
*.log
.settings
.checkstyle
.project
.classpath
gradle/*
.gradle
gradlew.bat
.vertx
.idea
*.iml
*.dia~
bin/
.dbeaver/
.dbeaver-data-sources.xml
.dbeaver*
out
*.bkp
*.dtmp
.DS_Store
target/
.m2/
build/
node_modules/
test-output/
.settings/
.checkstyle
.project
.classpath
*.*~
*.tmp
*.log
*.ctxt
*.class
application-test-local.*
application-local.*
logback-local.*
.ant-targets-build.xml
*.suo
*.ntvs*
*.njsproj
*.sln
hs_err_pid*
.java/
pom.xml.versionsBackup

